@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #14213d;
}

/* arrow btn in intro.js */
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
}

.arrows path {
	stroke: #f7c370;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

/* navbar */
.header {
  transition: all 0.3s ease;
}

.top {
  top: 0px;
}

.down {
  top: -90px;
}

.up {
  top: 0px;
}

.up,
.down {
  background: #14213d;
  box-shadow: 0px 0px 8px #040c16;
}

/* sidebar social.js */
.social {
  position: fixed;
  top: 36%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social a {
  display: block;
  text-align: center;
  padding: 26px;
  transition: all 0.3s ease;
  color: #C9ADA7;
  font-size: 26px;
}

.social a:hover{
  color: #FCA311;
  transform: translateY(-0.20em);
  /* background-color: black; */
}

/* png skills.js */
.png img:hover{
  transform: translateY(-0.5em);
  transition-duration: 0.3s; 
  box-shadow: 0px 0px 20px #FCA311;
}

/* img profile pic */
.headShot {
  --color: #FCA311; /* the border color */
  --border: 5px;   /* the border thickness*/
  --offset: 15px;   /* control the offset*/
  --gap: 3px;       /* the gap on hover */
  
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
  --_o: calc(3*var(--offset));
  padding: 
    calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: 
    linear-gradient(var(--_c)) var(--_o) var(--_o), 
    linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  /* filter: grayscale(.4); */
  transition: .5s;
  cursor: pointer;
}

.headShot:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}

/* exp.js btns */

#check1 {
  display: none;
}

.test1 {
  -webkit-transition: height .5s ease;
  height: 0;
  overflow: hidden;
}

input:checked + .test1 {
  height: 255px;
}

#check2 {
  display: none;
}

.test2 {
  -webkit-transition: height .5s ease;
  height: 0;
  overflow: hidden;
}

input:checked + .test2 {
  height: 350px;
}